USE [master]
GO
/****** Object:  Database [StiimDB]    Script Date: 20.12.2022 18:07:05 ******/
CREATE DATABASE [StiimDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StiimDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.METHSQL\MSSQL\DATA\StiimDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StiimDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.METHSQL\MSSQL\DATA\StiimDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StiimDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StiimDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20.12.2022 18:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Element_koszyka]    Script Date: 20.12.2022 18:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Element_koszyka](
	[ElementId] [int] IDENTITY(1,1) NOT NULL,
	[GraId] [int] NOT NULL,
	[Ilość] [int] NOT NULL,
	[Razem] [float] NOT NULL,
 CONSTRAINT [PK_Element_koszyka] PRIMARY KEY CLUSTERED 
(
	[ElementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gra]    Script Date: 20.12.2022 18:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gra](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](max) NULL,
	[Zdjęcie1] [nvarchar](max) NULL,
	[Zdjęcie2] [nvarchar](max) NULL,
	[Zdjęcie3] [nvarchar](max) NULL,
	[Kategoria] [nvarchar](max) NULL,
	[Cena] [float] NOT NULL,
	[Opis] [nvarchar](max) NULL,
	[Specyfikacjat] [nvarchar](max) NULL,
	[Aktywacja] [nvarchar](max) NULL,
	[Okładka] [nvarchar](max) NULL,
 CONSTRAINT [PK_Gra] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NowyKomentarz]    Script Date: 20.12.2022 18:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NowyKomentarz](
	[Id] [uniqueidentifier] NOT NULL,
	[GraId] [int] NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Ocena] [nvarchar](max) NOT NULL,
	[Treść] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NowyKomentarz] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 20.12.2022 18:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[CreditCard] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Razem] [float] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 20.12.2022 18:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[GraId] [int] NOT NULL,
	[ilość] [int] NOT NULL,
	[Cena] [float] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Element_koszyka_GraId]    Script Date: 20.12.2022 18:07:05 ******/
CREATE NONCLUSTERED INDEX [IX_Element_koszyka_GraId] ON [dbo].[Element_koszyka]
(
	[GraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NowyKomentarz_GraId]    Script Date: 20.12.2022 18:07:05 ******/
CREATE NONCLUSTERED INDEX [IX_NowyKomentarz_GraId] ON [dbo].[NowyKomentarz]
(
	[GraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_GraId]    Script Date: 20.12.2022 18:07:05 ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_GraId] ON [dbo].[OrderDetails]
(
	[GraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_OrderId]    Script Date: 20.12.2022 18:07:05 ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Element_koszyka]  WITH CHECK ADD  CONSTRAINT [FK_Element_koszyka_Gra_GraId] FOREIGN KEY([GraId])
REFERENCES [dbo].[Gra] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Element_koszyka] CHECK CONSTRAINT [FK_Element_koszyka_Gra_GraId]
GO
ALTER TABLE [dbo].[NowyKomentarz]  WITH CHECK ADD  CONSTRAINT [FK_NowyKomentarz_Gra_GraId] FOREIGN KEY([GraId])
REFERENCES [dbo].[Gra] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NowyKomentarz] CHECK CONSTRAINT [FK_NowyKomentarz_Gra_GraId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Gra_GraId] FOREIGN KEY([GraId])
REFERENCES [dbo].[Gra] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Gra_GraId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order_OrderId]
GO
USE [master]
GO
