@{
    ViewData["Title"] = "Privacy Policy";
}

    
<div id="carouselExampleInterval" class="carousel slide w-100" data-bs-ride="carousel" style="margin-top:4vh;height:100vh;width:60vh;">
  <div class="carousel-inner " style="width:100vh;height:60vh;">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/images/gothic.jpg" class="d-block w-100" alt="..." style="width:100vh;height:60vh">
    </div>
    <div class="carousel-item" data-bs-interval="2000" style="width:100vh;height:60vh;">
      <img src="~/images/battle.jpg" class="d-block w-100" alt="..." style="width:100vh;height:60vh;">
    </div>
    <div class="carousel-item" style="width:100vh;height:60vh;">
      <img src="~/images/Zelda.jpg" class="d-block w-100" alt="..." style="width:100vh;height:60vh;>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev"style="margin-bottom:20vh;">
    <span class="carousel-control-prev-icon" aria-hidden="true"style="margin-top:20vh;"></span>
    <span class="visually-hidden"style="margin-bottom:20vh;">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next" style="margin-bottom:20vh;">
    <span class="carousel-control-next-icon" aria-hidden="true"style="margin-top:20vh;"></span>
    <span class="visually-hidden" style="margin-bottom:20vh;">Next</span>
  </button>
</div>