@model IEnumerable<New.Models.Gra>
@{
    ViewData["Title"] = "Home Page";
}
<!--container p-3 my-3 bg-dark text-white
<div class="text-center">
    <h4 class="display-4">Witaj użytkowniku!</h4>
    <h8> Witaj w twojej bibliotece gier</h8>
</div>-->
<div class="container-md">
        <div class="row">
        @foreach (var gra in Model)
        {
            
            <div class="col-4 text-center" style="max-width:20rem">
    
                <a class="justify-content-center" href=@Url.Action("Game","Home", new {id=@gra.Id})>
                   <div class="card box-shadow border-black" style="margin-top:1rem;width: 15rem;height:20rem; background-color:rgba(247,247,247,255);">
  <img class="card-img-top" src="~/images/@gra.Zdjęcie1" alt="Card image cap">
  <div class="card-body">
                              <h5 style="font-family: 'Arial Rounded MT'; font-size:25px;text-decoration:none">@Html.DisplayFor(modelItem => gra.Nazwa)</h5>
                        <h8 style="font-size:20px;">@Html.DisplayFor(modelItem => gra.Cena) zł</h8>

  </div>
  <div class="card-footer" style="background-color:black; height:5rem;">

  </div>
</div>

   <!----- <div>
                        <img class="rounded border border-dark border-3" src="~/images/@gra.Zdjęcie1" style="height: 10rem; width: 10rem; margin-top: 40px"/>
                    </div>--->
                    <!-----<div class="text-center">
                        <h5 style="font-family: 'Arial Rounded MT' font-size:25px;color:black; text-decoration:none">@Html.DisplayFor(modelItem => gra.Nazwa)</h5>
                        <h8>@Html.DisplayFor(modelItem => gra.Cena) zł</h8>
                    </div>--->
                </a>
            </div>
        }
        </div>
    </div>
