@model New.Models.Gra
@{
    ViewData["Title"] = "Gra";
}
<table class="table table-sm table-responsive-md" style="background-color:rgba(247,247,247,255);">
  <thead style="background-color:black; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:white;">
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Cena</th>
      <th scope="col">Ilość</th>
      <th scope="col">Łącznie:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>                <img class="card-img-top" src="~/images/okładka.jpeg" alt="Card image" style="height:20vh;width:14vh;" />
</td>
      <td>                    <h4 >Battlefield 1</h4>
</td>
      <td>                    <h5 >59.99 zł</h5>
</td>
<td>
                    <h3 >1 <br> </h3>

</td>
<td>
    <h4>
        59.99 zł
    </h4>
</td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-dark" style="margin-top:3vh;margin-left:3vh; width:20vh;height:10vh;">Złóż zamówenie</button>